{{extend '../_layouts/clienthome.html'}} {{block 'head'}}
<link rel="stylesheet" href="/public/css/ushelf_index.css">
<link rel="stylesheet" href="/public/css/ushelf.css">
<link rel="stylesheet" href="/public/host/ushelf_aboutHost.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {{/block}} {{block 'body'}}
<div id="nav-placeholder"></div>

<div class="container mt-4">

    <div class="row">
        <!-- Left Column -->
        <div class="col-lg-4">
            <div class="card">
                <!-- Pictures -->
                <div class="card-body" style="text-align: center; padding: 10px;">
                    <img class="rounded-circle" src="/public/img/avatar-max-img.png" alt="" style="width: 120px; height: 120px;">
                    <hr />
                    <p>Email: {{user.account}}</p>
                </div>
            </div>
        </div>

        <!-- Right Column -->
        <div class="col-lg-8">
            <h1>Hi, I'm {{user.username}}</h1>
            <button style="background-color: transparent; border-color: transparent; color: turquoise;" onclick="showEditProfile()">
                    Edit Profile
                </button>

            <div class="card mt-4" id="editProfile" style="display: none">
                <h4 class="card-header font-16">Edit Profile</h4>
                <div class="card-body">

                    <div class="mb-2" style="display: flex; flex-direction: row;">
                        <p class="font-weight-bold font-16 mr-2" >Username: </p>
                        <input id="inputUsername" type="text" style="height: 25px" value={{user.username}}>
                    </div>
                    <div class="mb-2" style="display: flex; flex-direction: row;">
                        <button class="ushelfBtn-yellow mr-3" style="height: 40px; width: 20%;" onclick="changeUsername()">Confirm</button>
                        <button class="ushelfBtn" style="height: 40px; width: 20%;" onclick="showEditProfile()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/block}} {{ block 'script'}}
<script>
    function showEditProfile() {
        var x = document.getElementById("editProfile");
        if (x.style.display === "none") {

            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function changeUsername() {
        var name = document.getElementById("inputUsername").value
        var account = document.getElementById("username").innerHTML
        $.ajax({
            url: '/changeUsername',
            type: 'post',
            data: {
                username: name,
                email: account
            },
            dataType: 'json',
            success: function(data) {
                if (data.result.code == 200) {
                    console.log('拿到数据');
                    setTimeout(function() {
                        location.href = 'http://' + window.location.host +
                            '/profile'
                    }, 10)
                } else {
                    alert('服务器忙请稍后再试');
                }
            }
        })
    }
</script>
{{/block}}