<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css"> {{ block 'head'}}{{/block}}
    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cantora+One&display=swap">

    <!-- Script -->
    <script src="../../public/js/jquery-3.4.1.min.js"></script>
    <script src="../../public/js/loadNavbar.js"></script>
    <script src="../../public/js/loadFooter.js"></script>
    <title>Ushelf</title>
</head>


<body style="margin-top: 60px">
    {{ include '../_partials/clientheader.html'}} {{ block 'body'}}{{/block}} {{ include '../_partials/footer.html'}}
    <!-- Optional JavaScript -->
    <script src="../../node_modules/jquery/dist/jquery.slim.js"></script>
    <script src="../../node_modules/popper.js/dist/popper.min.js"></script>
    <script src="../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    {{ block 'script'}}{{/block}}
</body>

</html>