<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    {{ block 'head'}}{{/block}}
</head>


<body>
    {{ include '../_partials/header.html'}}
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    {{block 'body'}}{{/block}}
    {{ include '../_partials/footer.html'}}
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    {{ block 'script'}}{{/block}}
</body>


</html>