<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">

    <script src="../public/js/loadNavbar.js"></script>
    <script src="../public/js/loadFooter.js"></script>

    {{ block 'head'}}{{/block}}
    <title>Ushelf</title>
</head>


<body>
    {{ include '../_partials/header.html'}}
    {{ block 'body'}}{{/block}}
    {{ include '../_partials/footer.html'}}
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    {{ block 'script'}}{{/block}}
</body>

</html>