{{extend '../_layouts/clienthome.html'}} {{block 'body'}}
<!-- Navbar -->
<div id="nav-placeholder"></div>

<div class="container">
    <!-- Title -->
    <h1 class="mt-4 mb-3">About us</h1>

    <div class="row">
        <!-- Image -->
        <div class="col-lg-4 mb-4">
            <img src="/public/img/logo.jpeg" style="width: 100%">
        </div>

        <!-- Intro -->
        <div class="col-lg-8 mb-4">
            <h3>Who are we?</h3>
            <p>Ushelf is a consumer to consumer (C2C) and business to consumer (B2C) platform developed by Ushelf Project Team for storage renting. We aim to provide a platform that you can find the perfect storage space at a reasonable price. Besides, we
                hope that every space can be effectively used and shared. </p>
        </div>
    </div>
</div>
{{/block}}