{{extend '../_layouts/clienthome.html'}}{{block 'head'}}
<link rel="stylesheet" href="../../public/css/ushelf.css"> {{/block}} {{block 'body'}}
<div id="nav-placeholder"></div>

<div class="container">
    <!-- Title -->
    <h1 class="mt-4 mb-3">Contact us</h1>

    <div class="row">
        <!-- Image -->
        <div class="col-lg-4 mb-4">
            <img src="/public/img/helpdesk.jpg" style="width: 100%; height: 300px;">
        </div>

        <!-- Contact Details -->
        <div class="col-lg-8 mb-4">
            <h3>Contact Details</h3>
            <p>WhatsApp: +65 9673 8119</p>
            <p>Email: se7ven011@gmail.com</p>
            <p>Hours: Monday - Sunday: 9:00 AM to 6:00 PM</p>
        </div>
    </div>
</div>
{{/block}}