{{extend '../_layouts/clienthome.html'}} {{block 'body'}}
<!-- Navbar -->
<div id="nav-placeholder"></div>

<div class="container">
    <!-- Title -->
    <h1 class="mt-4 mb-3">How Ushelf works? </h1>

    <div class="row">
        <!-- Image -->
        <div class="col-lg-4 mb-4">
            <img src="/public/img/image2.jpg" style="width: 100%; height: 300px;">
        </div>

        <!-- Intro -->
        <div class="col-lg-8 mb-4">
            <h3>Few easy steps to become a renter: </h3>
            <p>1. Select the storage type and storage size that you want to search</p>
            <p>2. Find the favourite storage.</p>
            <p>3. Check the price and storage rules.</p>
            <p>4. Place the booking and wait for the host's confirmation</p>
            <p>5. The order completed after accepted by host</p>
            <p>6. Contact the host for further storing and picking.</p>
        </div>
    </div>
</div>
</div>
</div>
{{/block}}