{{extend '../_layouts/clienthome.html'}} {{ block 'head'}}
<!-- CSS -->
<link rel="stylesheet" href="../../public/css/ushelf_index.css">
<link rel="stylesheet" href="../../public/css/ushelf_aboutHost.css">
<link rel="stylesheet" href="../../public/css/ushelf.css">
{{/block}}

{{ block 'body'}}
<!-- Navbar -->
<div id="nav-placeholder"></div>

<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">MyShelf</h1>

    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-lg-3 mb-4">
            <div class="list-group">
                <form id="mystorage">
                    <button type="submit" class="list-group-item text-left btn btnRules" style="width: 100%">Getting
                        started</button>
                </form>
                <form id="mystorage-wfc">
                    <button type="submit" class="list-group-item text-left btn btnRules" style="width: 100%">Wait for
                        confirm</button>
                </form>

                <form id="mystorage-wfp">
                    <button type="submit" class="list-group-item text-left btn btnRules btnRules-active"
                        style="width: 100%">Wait for payment</button>
                </form>

                <form id="mystorage-og">
                    <button type="submit" class="list-group-item text-left btn btnRules" style="width: 100%">On going
                        order</button>
                </form>

                <form id="mystorage-past">
                    <button type="submit" class="list-group-item text-left btn btnRules" style="width: 100%">Past
                        History</button>
                </form>
            </div>
        </div>

        <!-- Content Column -->
        <div class="col-lg-9 mb-4">
            <h2 id="rulesTitle">Wait for Payment</h2>
            {{if wfp}} {{each wfp}}
            <div class="row mb-4">
                <div class="col-md-4">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="../public/img/storageB.jpg" alt=""
                        style="height: 200px; width: 100%; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h3 class="mb-1">{{$value.title}}</h3>
                    <p class="mb-1">Hosted by: {{$value.owner}}</p>
                    <p class="mb-1">Location: {{$value.address0}}, {{$value.address1}}, {{$value.city}},
                        {{$value.province}}, {{$value.zipcode}}</p>
                    <p class="mb-1">Period: {{$value.startdate}} - {{$value.enddate}}</p>
                    <p class="mb-1">Total Price: ${{$value.price}}</p>
                    <button class="ushelfBtn mr-3" style="width: 30%; height: 40px; float: left;"
                        onclick="viewDetail('{{$value.orderid}}')">View</button>
                    <button class="ushelfBtn-yellow" style="width: 30%; height: 40px; float: left;"
                        onclick="makePayment('{{$value.orderid}}')">Make payment</button>
                </div>
            </div>
            {{/each}}
        </div>
        {{else}}
        <p>No results</p>
        {{/if}}
    </div>

    <!-- Modal -->
    {{if wfp}} {{each wfp}}
    <div id="openModal{{$value.orderid}}" class="modal">
        <div class="modal-content">
            <div class="mb-2">
                <span id="closeModal{{$value.orderid}}" class="close"
                    onclick="closeDetail('{{$value.orderid}}')">&times;</span>
                <h4>{{$value.title}}</h4>
                <p class="mb-1 font-weight-bold">Hosted by: {{$value.owner}}</p>
                <p class="mb-1 font-weight-bold">Location: <span class="font-weight-normal">{{$value.address0}},
                        {{$value.address1}}, {{$value.city}}, {{$value.province}}, {{$value.zipcode}}</span></p>
                <p class="mb-1 font-weight-bold">Period: <span class="font-weight-normal">{{$value.startdate}} -
                        {{$value.enddate}}</span></p>
                <p class="mb-1 font-weight-bold">Total Price: <span class="font-weight-normal">${{$value.price}}</span>
                </p>
                <p class="mb-1 font-weight-bold">Storage size: <span class="font-weight-normal">{{$value.size}}
                        size</span></p>
                <p class="mb-1 font-weight-bold">Storage type: <span class="font-weight-normal">{{$value.type}}</span>
                </p>
                <p class="mb-1 font-weight-bold">Special Feature:</p>
                {{if $value.feature.includes("0")}}
                <p class="mb-1">- 24 hours available</p>
                {{/if}} {{if $value.feature.includes("1")}}
                <p class="mb-1">- Lock and key</p>
                {{/if}} {{if $value.feature.includes("2")}}
                <p class="mb-1">- CCTV</p>
                {{/if}} {{if $value.feature.includes("3")}}
                <p class="mb-1">- Safe Deposit Box</p>
                {{/if}} {{if $value.feature.includes("4")}}
                <p class="mb-1">- Delivery services</p>
                {{/if}}
                <p class="mb-1 font-weight-bold">Prohibited items:</p>
                {{if $value.prohibited.includes("0")}}
                <p class="mb-1">- No furnishings</p>
                {{/if}} {{if $value.prohibited.includes("1")}}
                <p class="mb-1">- No books</p>
                {{/if}} {{if $value.prohibited.includes("2")}}
                <p class="mb-1">- No dolls & plushies</p>
                {{/if}} {{if $value.prohibited.includes("3")}}
                <p class="mb-1">- No liquid items</p>
                {{/if}} {{if $value.prohibited.includes("4")}}
                <p class="mb-1">- No fragile items</p>
                {{/if}}

            </div>
        </div>
    </div>
    {{/each}} {{/if}}
</div>
{{/block}}

{{ block 'script'}}
<script>
    function viewDetail(orderID) {
        var modalName = 'openModal' + orderID
        var modal = document.getElementById(modalName);
        modal.style.display = "block";
    }

    function closeDetail(orderID) {
        var modalName = 'openModal' + orderID
        var modal = document.getElementById(modalName);
        modal.style.display = "none";
    }
</script>
<script>
    $('#mystorage').on('submit', function (e) {
        e.preventDefault()
        window.location.href = "/mystorage"
    })
    $('#mystorage-wfc').on('submit', function (e) {
        e.preventDefault()
        var customer = document.getElementById("username").innerText
        $.ajax({
            url: '/mystorage-wfc.load',
            type: 'post',
            data: {
                customer: customer
            },
            dataType: 'json',
            success: function (data) {
                if (data.result.code == 200 || data.result.code == 1) {
                    setTimeout(function () {
                        location.href = 'http://' + window.location.host +
                            '/mystorage-wfc';
                    }, 10)
                } else {
                    alert('服务器忙请稍后再试');
                }
            }
        })
    })

    $('#mystorage-wfp').on('submit', function (e) {
        e.preventDefault()
        var customer = document.getElementById("username").innerText
        $.ajax({
            url: '/mystorage-wfp.load',
            type: 'post',
            data: {
                customer: customer
            },
            dataType: 'json',
            success: function (data) {
                if (data.result.code == 200 || data.result.code == 1) {
                    setTimeout(function () {
                        location.href = 'http://' + window.location.host +
                            '/mystorage-wfp';
                    }, 10)
                } else {
                    alert('服务器忙请稍后再试');
                }
            }
        })
    })

    $('#mystorage-og').on('submit', function (e) {
        e.preventDefault()
        var customer = document.getElementById("username").innerText
        $.ajax({
            url: '/mystorage-og.load',
            type: 'post',
            data: {
                customer: customer
            },
            dataType: 'json',
            success: function (data) {
                if (data.result.code == 200 || data.result.code == 1) {
                    setTimeout(function () {
                        location.href = 'http://' + window.location.host +
                            '/mystorage-og';
                    }, 10)
                } else {
                    alert('服务器忙请稍后再试');
                }
            }
        })
    })

    $('#mystorage-past').on('submit', function (e) {
        e.preventDefault()
        var customer = document.getElementById("username").innerText
        $.ajax({
            url: '/mystorage-past.load',
            type: 'post',
            data: {
                customer: customer
            },
            dataType: 'json',
            success: function (data) {
                if (data.result.code == 200 || data.result.code == 1) {
                    setTimeout(function () {
                        location.href = 'http://' + window.location.host +
                            '/mystorage-past';
                    }, 10)
                } else {
                    alert('服务器忙请稍后再试');
                }
            }
        })
    })
</script>
<script>
    function makePayment(orderID) {
        var id = orderID
        $.ajax({
            url: '/clickpayment.json',
            type: 'post',
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                if (data.result.code == 200) {
                    console.log('拿到数据');
                    setTimeout(function () {
                        location.href = 'http://' + window.location.host +
                            '/paymentForm'
                    }, 10)
                } else {
                    alert('服务器忙请稍后再试');
                }
            }
        })
    }
</script>
{{/block}}