{{extend '../_layouts/clienthome.html'}}

{{block 'body'}}
<div class="container">
    <!-- Title -->
    <h1 class="mt-4 mb-3">News & Promotions</h1>

    <!-- Openning Sale -->
    <div class="row">
        <div class="col-md-7">
            <a href="detail_news&pros.html">
                <img class="img-fluid rounded mb-3 mb-md-0" src="../public/img/news_openning.jpg" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Openning Sale</h3>
            <p>To celebrate the openning of Ushelf, we give everyone a discount!</p>
            <a class="btn btn-primary" href="detail_news&pros.html">View Details
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

    <hr>

    <!-- Referral Reward -->
    <div class="row">
        <div class="col-md-7">
            <a href="detail_news&pros.html">
                <img class="img-fluid rounded mb-3 mb-md-0" src="../public/img/news_referral reward.jpg" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Referral Reward</h3>
            <p>Share Ushelf with your friends and get special discount!</p>
            <a class="btn btn-primary" href="detail_news&pros.html">View Details
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

    <hr>

    <!-- Storage Rule -->
    <div class="row">
        <div class="col-md-7">
            <a href="detail_news&pros.html">
                <img class="img-fluid rounded mb-3 mb-md-0" src="../public/img/news_rule.jpg" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Storage Rule</h3>
            <p>Do you know what you can store and what cannot store? Take a look now!</p>
            <a class="btn btn-primary" href="detail_news&pros.html">View Details
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
{{/block}}