<footer class="page-footer text-center text-md-left mt-4 bg-light">
    <div class="page-footer text-center text-md-left pt-4 container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase font-weight-bold mb-4">Ushelf</h5>
                <ul class="list-unstyled">
                    <li><a href="aboutus" style="color: #595959">About us</a></li>
                </ul>
            </div>
            <hr class="w-100 clearfix d-md-none">

            <!--Second column-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase font-weight-bold mb-4">Storage</h5>
                <ul class="list-unstyled">
                    <li><a href="instruction" style="color: #595959">How it works</a></li>
                    <li><a href="rules" style="color: #595959">Rules</a></li>
                </ul>
            </div>
            <hr class="w-100 clearfix d-md-none">

            <!--Third column-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase font-weight-bold mb-4">Suppport</h5>
                <ul class="list-unstyled">
                    <li><a href="contactus" style="color: #595959">Contact us</a></li>
                    <li><a href="t&c" style="color: #595959">Terms & Conditions</a></li>
                    <li><a href="help" style="color: #595959">Help</a></li>
                </ul>
            </div>
            <hr class="w-100 clearfix d-md-none">

            <!--Fourth column-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase font-weight-bold mb-4">Hosting</h5>
                <ul class="list-unstyled">
                    <li><a href="rules_host" style="color: #595959">Rules for Host</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
            Copyright © Ushelf 2020
        </div>
    </div>
</footer>